* {
    margin: 0;
    padding: 0;
}

.graph-controls {
    padding: 5px;
    background: #404040;
}

.graph-div {
    height: 500px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #CCC;
}